*.egg-info
*.pyd
*.zip
*.pyc
__pycache__/
build/
.vscode/
src/output
output/
src/mac_gaussian/submodules/simple-knn/
src/mac_gaussian/submodules/xray-gaussian-rasterization-voxelization/third_party/glm/
src/TIGRE*
src/config/*.yaml
!src/config/default.yaml

